<%= render "shared/header" %>

<div class="projects-container">
    <div class="projects-header">
  <h2>プロジェクト一覧</h2>
   <%= link_to "新規登録", new_project_path, class: "btn btn-create" %>
</div>
  
  <% if @projects.any? { |project| project.user_id == current_user.id } %>
    <div class="project-list">
      <% @projects.each do |project| %>
       <% if project.user_id == current_user.id %>
        <div class="project-card">
          <h3><%= project.project_name %></h3>
          <p><strong>期間:</strong> <%= project.start_day.strftime('%Y/%m/%d') %> 〜 <%= project.schedule_end_day.strftime('%Y/%m/%d') %></p>
          <p><strong>メモ:</strong> <%= project.memo %></p>
           <p><strong>完了日:</strong> <%= project.end_day %></p>

          <!-- 編集・削除ボタンなどが欲しければここに追加 -->
          <div class="project-actions">
            <%= link_to "編集", edit_project_path(project.id), class: "btn btn-edit" %>
             <%= link_to "削除", project_path(project.id), data: {turbo_method: :delete},  class: "btn btn-edit" %>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  <% else %>
    <p>まだプロジェクトは登録されていません。</p>
  <% end %>
</div>